.col-3 {
  width: 33.33333333%;
}
.col-4 {
  width: 25%;
}
.col-5 {
  width: 20%;
}
.col-6 {
  width: 50%;
}
.col-12 {
  width: 100%;
}
.row {
  display: -webkit-box;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-pack: justify;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.row .col-3 {
  width: 33.333333333333336%;
  width: -webkit-calc(23.33333333%);
  width: calc(23.33333333%);
}
.row .col-6 {
  width: 50%;
  width: -webkit-calc(42.5%);
  width: calc(42.5%);
}
.grid-nine,
.grid-sixteen {
  overflow: auto;
  background: #fff;
  position: relative;
}
.grid-nine:after,
.grid-sixteen:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  pointer-events: none;
  border-top: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
}
.grid-nine.no-border:after,
.grid-sixteen.no-border:after {
  display: none;
}
.grid-nine.no-border li:after,
.grid-sixteen.no-border li:after {
  display: none;
}
.grid-nine .col-12,
.grid-sixteen .col-12,
.grid-nine .col-3,
.grid-sixteen .col-3,
.grid-nine .col-4,
.grid-sixteen .col-4,
.grid-nine .col-5,
.grid-sixteen .col-5,
.grid-nine .col-6,
.grid-sixteen .col-6,
.grid-nine li,
.grid-sixteen li {
  position: relative;
  float: left;
}
.grid-nine li .icon,
.grid-sixteen li .icon {
  font-size: 26px;
  width: 26px;
  height: 40px;
  display: inline-block;
  text-indent: center;
  margin-bottom: 5px;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-repeat: no-repeat;
}
.grid-nine img,
.grid-sixteen img {
  display: block;
  max-width: 60%;
  height: 40px;
  margin: 0 auto;
}
.grid-nine li {
  padding: 20px 10px;
}
.grid-nine li:active {
  background: #f4f4f4;
}
.grid-nine li:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(1);
  border-left: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
}
.grid-sixteen li {
  padding: 15px 10px;
}
.grid-sixteen li:active {
  background: #f4f4f4;
}
.grid-sixteen li:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(1);
  border-left: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
}
.icon-form-name {
  background-image: url(images/i-form-name-material.svg);
}
